.footer-container {
    background-color: black;
    color: white;
    padding: 3em 0;
    font-family: 'Alata', sans-serif;
}

.footer {
    display: flex;
    width: 55em;
    margin: 0 auto;
    justify-content: space-between;
    height: 4em;
}

.footer-left, .footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0 1em;
}

.footer-nav {
    display: flex;
    gap: 0 2em;
    font-size: .85rem;
}

.footer-nav > div {
    cursor: pointer;
}

.footer-icons {
    display: flex;
    gap: 0 1em;
    justify-content: flex-end;
}

.footer-icons > img {
    cursor: pointer;
}

.footer-copyright {
    color: hsl(0, 0%, 55%);
    font-size: .85rem;
}

.footer-left > div > img {
    cursor: pointer;
}

@media screen and (max-width: 998px) {
    .footer {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer-icons {
        justify-content: center;
        padding-top: 1.5em;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .footer-left, .footer-right {
        align-self: center;
        gap: 2em;
        padding-top: 1em;
    }
}